*{
    padding: 6px;
}

body{
    background-color: #f4f4f4;
    text-align: center;
}

img{
    width: 150px;
    cursor: pointer;
    margin: 10px;
}

.stickers{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.sticker.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stickers img{
    width: 150px;
}

.stickers input{
    display: flex;
    width: 120px;
    height: 20px;
    margin: 10px 5px 20px 20px;
}

input{
    flex-direction: column;
}

button {
    padding: 10px 20px; 
    border-radius: 5px; 
    border: 2px solid #333; 
    background-color: #f0f0f0; 
    cursor: pointer; 
}

button:hover{
    background-color: #ddd;
    border-color: #000;
}

p{
    font-size: 20px;
    margin-top: 10px;
}